.profileContainer {
  display: flex;
  align-items: center;
}
.profileContainer > .avatarWrapper img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50% !important;
}

.profileContainer > div {
  margin-left: 1.5rem;
}